<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(<%= cl_image_path 'https://res.cloudinary.com/fofo921/image/upload/v1608321626/xmqkmtvbltbcrtpz0n3t.jpg' %>)">
  <div class="container">
    <h1>DINEXperts : Gestion des experts de DIN</h1>
    <p>Inscrivez-vous pour accédez aux ressources de DINEXperts</p>
  </div>
</div>
