<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url('https://res.cloudinary.com/fofo921/image/upload/v1608321626/xmqkmtvbltbcrtpz0n3t.jpg')">
  <div class="container">
    <h1>DINexperts : gestion des experts</h1>
    <p>Inscrivez-vous pour accédez aux ressources de DINexperts</p>
    <a class="btn btn-flat" href="#">On y va !</a>
  </div>
</div>
